/* html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
    font-family:sans-serif;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/* -------------- */

html, body { min-height:100%; }
body {
    height:100%;
    max-width:920px;
    padding:50px 20px 20px;
    margin:0 auto;
}

h2 {
    margin:40px 0 20px;
}
h3 {
    font-size: 95%;
    margin:20px 0 10px;
}

#header {
    position:absolute;
    top:0;
    right:0;
    left:0;
    background:#111;
    box-shadow:1px 0 6px rgba(0,0,0,.5);
    text-align:center;
}
#header h1 {
    display:inline;
    color:#ddd;
    font-size:14px;
    font-weight:400;
    line-height:35px;
}
.editable-list li {
    padding:5px;
    list-style:disc inside;
}
.editable-list .add {
    margin-top:5px;
}

#nav {
    padding-bottom:10px;
}
#nav a {
    float:left;
    margin-left:6px;
    padding:6px 9px;
    background:#333;
    border-bottom:1px solid #555;
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;
    font-size:13px;
    color:#eee;
    text-shadow:-1px -1px 0 rgba(0,0,0,0.7);
    text-decoration:none;
}
#nav .active {
    background:#fff;
    border:1px solid #666;
    color:#444;
    text-shadow:none;
}

#register {
    display:none;
}
#register section {
    padding-left:20px;
}
#register ul {
    padding-left:10px;
}
#register li {
    font-size:13px;
}
#register .delete {
    color:#c00;
    background:transparent;
    -webkit-appearance:none;
    border:0 none;
    cursor:pointer;
}

#guess {
    margin:20px;
}
#guess ul,
#admin ul {
    list-style:none;
}
#guess label,
#admin label {
    width:100px;
    text-align:right;
    display:inline-block;
    margin-right:4px;
}
#sendGuess,
#saveAnswer {
    margin:20px 0;
}

#working, #notworking { display:none; }